:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(to top,#3a214f,#8512fa);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
}


.button-group {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 15px 25px;
  font-family: inherit;
  font-size: 20px;
  background-color: #969494;
  transition: border-color 0.25s;
}
.btn:hover {
  border-color: #646cff;
}
.btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
}

.name-container {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: left;
  gap: 10px;
  padding-left: 5px;
  background-color: #8d30eb;
  border: 0;
  border-radius: 4px;
}

.small-btn {
  background-color: #8512fa;
  border: 0;
  border-radius: 4px;
  width: 25px;
  height: 25px;
  /* margin-right: 100px; */
  margin-left: 0px;
}

.name {
  margin: 0;
}

.page-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn-green {
  background-color: #13bd54;
}

.btn-red {
  background-color: #de3737;
}

.btn-blue {
  background-color: #4fb9e3;
}

.winner-name {
  font-size: 70px;
  font-weight: 500;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}